
@media (max-width: 768px) {

    .wrapper {
        max-width: 610px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    



    /* section-2 */

    .section-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .s-2main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .text-s2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;      
    }

    .text-s21 {
        text-align: center;
        margin-top: -15px;
        font-weight: 300;
        font-size: 68px;
    }

    .text-s22 {
        font-size: 22px;
        text-align: center;
        font-weight: 300;
    }




    .img-s2 {
        width: 100%;
        align-items: center;
    }

    .img-s24 {
        /* width: 100%; */
    }













    /* section-3 */


    .section-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .text-s3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;  
        font-size: 60px;
    }


    .s-3main {
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-wrap: wrap;

    }


    .box-1 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
    }



    /* box-2 */
    .box-2 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
        
    }
    
    /* box-3 */
    .box-3 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
   
    /* box-4 */
    .box-4 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
   
    /* box-5 */
    .box-5 {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    












    /* section-4 */

    .section-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .s-4main {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    .text-4s {
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 33px;
       margin-left: 0px;
       padding-top: 0px;
    }
    .text-4s1 {
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 33px;
       margin-left: 0px;
       padding-top: 10px;
    }








    /* section-5 */

.section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-5main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

/*box-1  */

.box-51 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-m5 {
    text-align: center;
}
.text-m5s {
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin-top: 15px; 
}


/* box-2 */
.box-52 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.img-m5s2 {
    text-align: center;
}
.text-m5s3 {
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin-top: 15px;
}

/* box-3 */

.box-53 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.img-m5s3  {
    text-align: center;
}
.text-m5s4s8 {
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin-top: 15px;
}




/* section-6 */



.section-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.s-6main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.s-6text {
    width: 100%;
    margin: auto;
    
}
.s-6text1 {
    /* margin-left: 20px; */
    width: 100%;
    padding: 0;
    text-align: center;
    padding-left: 0;
    margin-left: 0 !important;
}

.s-6text12 {
width: 100%;
text-align: center;
margin-left: 0 !important;
font-size: 22px;

}

.s-6photo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.s-6photo1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0 !important;
}







/* section=-7 */


.section-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.s-7main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}




/* section-8 */


.section-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.s8-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.text-box {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tb8-1 {
    width: 100%;
    font-size: 48px;
}
.tb8-2 {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}
.tb8-3 {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
}



.form-box {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.fb1 {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0;
}

.fb2 {
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0;
}









/* section-9 */


.section-9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.s9-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.s9t-1 {
    width: 100%;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s9t-2{
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s9t-3 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s9t-4 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s9t-5 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s9tp-1p {
width: 25%;
height: 25%;
}












/* section-10 */


.section-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.s-10main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.s-10text {
    width: 100%;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.photo-text10 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

































/* section-11 */



.section-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.s-11main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main11-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box11-1a {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.box11-1ab{
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}











/* section-12 */


.section-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.s-12main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.s-12text {
    width: 100%;
    font-size: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.s-12t1 {
    width: 100%;
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s-12t2 {
    width: 100%;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s-12t3 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



















/* section-14 */




.section-14 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.s-14main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.s-14box1 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s-14bt {
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s-14bt2{
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 9px;
}




.s-14box2{
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 9px;
}
.s-114box {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    margin-top: 9px;
}
.s-114b21{
    width:30%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}





.s-114box2 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-left: 0px;
}
.name {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}




.s-14box3 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    margin-top: 9px;
}

}














/* @768 changes  */
  




/* sec-3 */

.fa-dollar-sign ,.fa-cookie-bite ,.fa-image ,.fa-chart-bar ,.fa-desktop {
    font-size: 80px;
}

.text-s31 ,.text-s41 ,.text-s51 ,.text-s61 ,.text-s71 {
    font-size: 45px;
}  

.text-s32 ,.text-s42 ,.text-s52 ,.text-s62 ,.text-s72 {
    font-size: 18px;
    font-weight: 600;
}

.text-s33 ,.text-s43 ,.text-s53 ,.text-s63 ,.text-s73 {
    font-size: 22px;
    font-weight: 500;
}





























































/* 576 */





@media (max-width: 576px) {


/* headrer */

.action {
    display: none;
}

.wrapper {
    max-width: 490px ;
}

    /* section - 3 */

    .s-3main {
        max-width: 476px;
    }

    .box-1,.box-2,.box-3,.box-4,.box-5 {
        width: 100%;
        margin-top: 10px;
    }




/* section-4 */


.text-4s {
    font-size: 27px;
}

    /* section - 5 */

    .s-5main {
        padding: 0 !important;
    }

    /* section - 6  */

    .s-6main {
        padding: 0 !important;
        margin-bottom: 60px;
    }

    .s-6text1 {
        margin-top: 60px;
    }
    
    .s-6text14 {
        margin-left: 0;
    }


    /* section - 7  */

    .st-1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .s-7t1 {
        width: 100%;
        margin-top: 10px;
    }
    .s-7t2 {
        width: 100%;
        padding: 0 !important;
    }
    .s-7t3 {
        width: 100%;
        padding-left: 0 !important;
        font-size: 14px;
    }
    .s-7t4 {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }



    /* section-8 */

    


    /* section-9 */

    .s9t-1 {
        font-size: 32px;
    }
   



    /* section - 10 */

    .photo-text10 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .pt-1 {
        width: 100%;
        margin-bottom: 10px;
    }





    /* section- 11 */

    .box11-1a {
         padding-top: 40px;
         padding-right: 5px;
         padding-bottom: 40px;
         padding-left: 5px;
    }
    .bt11-3 {
        margin-top: 25px;
    }


    .box11-1ab {
         padding-top: 40px;
         padding-right: 5px;
         padding-bottom: 40px;
         padding-left: 5px;
    }

}